@media only screen and (max-width: 1024px) {
    html{
        height: 100vh;
    }
    #Nav_section ul{
        display: none;
    }
    #ofcanvas{
        display: block;
    }
    #Home_section{
       height: 50vh; 
        width: 100%;
        margin: 0 auto;
    }
    #Welcome_seciton{
        width: 100%;
    }
    #Welcome_seciton .card{
        width: 40vh;
        height: 25vh;
        background-color: white;
    }
    #Welcome_seciton .card_1{
        margin: 0 auto;
        /* margin-left: 20%; */
    }
    #Welcome_seciton .card_2{
        margin: 0 auto;
        /* margin-left: 10%; */
    }
    #Welcome_seciton .card_3{
        margin: 0 auto;
        /* margin-left: 10%; */
    }
    #Lazer_Seciton{
        margin-top:30px;
    }
    .Lazer{
        flex-direction: column;
    }
    .Lazer img{
        width: 40vh;
        margin: 0 auto;
        border-radius: 30px;
    }
    .lazer_text{
        font-size: 1rem;
        margin-top: 2vh;
        text-align: center;
        }
        .lazer_text h3{
            width: 100%;
            margin: 0 auto;
            text-align: center;
            font-size: 2rem;
            padding-bottom: 2px;
        }
        .Lazer p{
            width: 40vh;
            margin-left: 3vh;
            text-align: start;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .Lazer_Btn{
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            background-color: #AAB396;
        } 
        #Services_Section{
            background-color: #AAB396;
            margin-top: 70px;
            width:100%;
        }
        #Services_Section h1{
            margin-bottom: 2px;
            text-align: center;
        }
        #Services_Section i{
            margin-left: 49%;
            margin-bottom: 40px;
            font-size: 1rem;
            }
        .services_card{
                text-align: center;
            }
        #Services_Section .card{
                width: 100%;
                height: 40vh;
            }
            #Services_Section .services_card .btn{
                background-color: #AAB396;
                border: none;
            }
            #Services_Section .services_card img{
                width: 15vh;
                margin: 0 auto;
                padding-top: 10px;
                border-radius: 2px;
            }
            #Coments_section{
               width: 100%;
            }
            .comments{
                flex-direction: column;
                /* flex-wrap: wrap-reverse; */
                display: flex;
            }
            .comments_container{
                margin-left: 5vh;
                width: 100%;
                height: 110px;
                display: flex;
                margin-bottom: 40px;
                border-bottom: 1px solid black;
            }
            .comments_container .circle{
                 background-color: grey; 
                 width: 70px;
                 height: 100px; 
                border-radius: 50%;
                padding-right: 100px
            } 
            .comments_container p{
                text-align: center;
                padding-top: 5px;
                width: 400px;            /* Paragraf genişliği */
                white-space: wrap;     /* Tek satırda göster */
                overflow: hidden;        /* Taşan metni gizle */
                text-overflow: ellipsis; /* Üç nokta ile göster */
              }
              .comments_container h6{
                padding-left: 10px;
                text-align: left;
               padding-top: 30px;
              }
              #Coments_section h1{
                margin-bottom: 2px;
                text-align: center;
            }
            #Coments_section i{
            font-size: 1.5rem;
            margin-left: 50%;
            margin-bottom: 10px;
            }
            footer{
                background-color: #AAB396;
                width: 100%;
                height: 10vh;
                margin: 0 auto;
            }
            footer p {
                font-size: 0.7rem;
                text-align: center;
            }
            #endNav{
                font-size: 0.7rem;
                display: flex;
                justify-content:space-evenly;
            }
            .icons {
                justify-content: center;
                font-size: 2vh;
                display: flex;
                padding-bottom: 10px;
                padding-top: 10px;
            }
}

